# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Private
.env
serviceAccountKey.json
*.log
*.zip
jsondata/

# Virtual environments (only these paths)
.venv/
venv/
env/

# IDE and system files
.DS_Store
.idea/
*.swp
*.swo
*.wpu
*.wpr

# Database files
*.sqlite3
*.db

analysis_scripts/system_message.txt
analysis_scripts/user_message.txt
